{{#> "layouts/base"}}

{{#*inline "meta"}}
<title>Mencari {{search}}</title>
{{/inline}}

{{#*inline "content"}}
<main class="flex flex-col justify-center items-center mt-32 mb-28">
  <section class="mt-10 w-full flex flex-row gap-10 items-start justify-between max-w-7xl mx-auto">
    {{> "sidebar-filter"}}
    </div>
    <div class="w-2/3 space-y-5">
      <p class="text-sm italic">Menampilkan semua barang untuk <span class="font-bold underline">"{{search}}"</span></p>
      <div class="grid grid-cols-2 gap-10">
        {{#each products}}
        {{> "cards/product-card"
        img_url=this.image
        title=this.name
        price=this.price
        category=this.category
        stock=this.stock
        slug=this._id
        }}
        {{/each}}
      </div>
    </div>
  </section>
</main>
{{/inline}}

{{#*inline "script"}}
{{/inline}}

{{/"layouts/base"}}