{{#> "layouts/base"}}

{{#*inline "meta"}}
<title>ECommerce</title>
{{/inline}}

{{#*inline "content"}}
<main class="flex flex-col justify-center items-center mt-32">
  <section>
    <p class="text-sm italic">Menampilkan semua barang untuk <span class="font-bold underline">"{{search}}"</span></p>
  </section>

  <section class="mt-10 grid grid-cols-3 gap-10 w-full max-w-7xl mx-auto">
    {{#each products}}
    {{> "cards/product-card"
    img_url=this.image
    title=this.name
    price=this.price
    category=this.category.name
    stock=this.stock
    slug=this._id
    }}
    {{/each}}
  </section>
</main>
{{/inline}}

{{#*inline "script"}}
{{/inline}}

{{/"layouts/base"}}