<div class="card bg-base-200">
  <div class="card-body">
    <div class="flex items-center justify-between">
      <div class="flex justify-start">
        <h4 class="text-primary">4156abfa36193719</h4>
        <div class="divider divider-horizontal"></div>
        <p class="max-w-max">Ardhi Putra</p>
        <div class="divider divider-horizontal"></div>
        <p class="text-base-content/60">21 Juni 2023, 10:00</p>
      </div>
      <div>
        <span class="badge badge-success">Selesai</span>
      </div>
    </div>
    <div class="divider"></div>
    <div class="flex items-end">
      <div class="space-y-3 w-3/4">
        <h3 class="font-bold">Order Produk</h3>
        <div class="space-y-3">
          <div class="flex items-start gap-3">
            <img
              src="https://toko.rumahdropship.com/cdn/uploads//IMG2/novelty-sendok-centong-sayur-bahan-kayu-rr-20.jpg"
              alt="Produk 1" class="w-10 h-10 object-cover rounded">
            <div>
              <h4 class="font-semibold">Produk 1</h4>
              <p class="text-sm text-base-content/60">Rp 100.000</p>
            </div>
          </div>
          <div class="flex items-start gap-3">
            <img
              src="https://toko.rumahdropship.com/cdn/uploads//IMG2/novelty-sendok-centong-sayur-bahan-kayu-rr-20.jpg"
              alt="Produk 1" class="w-10 h-10 object-cover rounded">
            <div>
              <h4 class="font-semibold">Produk 1</h4>
              <p class="text-sm text-base-content/60">Rp 100.000</p>
            </div>
          </div>
          <div class="flex items-start gap-3">
            <img
              src="https://toko.rumahdropship.com/cdn/uploads//IMG2/novelty-sendok-centong-sayur-bahan-kayu-rr-20.jpg"
              alt="Produk 1" class="w-10 h-10 object-cover rounded">
            <div>
              <h4 class="font-semibold">Produk 1</h4>
              <p class="text-sm text-base-content/60">10 x Rp 100.000</p>
            </div>
          </div>
        </div>
      </div>
      <div class="divider divider-horizontal"></div>
      <div class="max-w-max w-1/4">
        <p class="font-semibold text-base-content/80">Total</p>
        <h3 class="text-xl font-bold">
          Rp. 100000000
        </h3>
      </div>
    </div>
    <div class="divider"></div>
    <div class="text-right">
      <a href="/dashboard/order/test" class="btn btn-primary">Detail Pesanan</a>
    </div>
  </div>
</div>