{{#if flash.alert}}
{{#if (or (eq state flash.alert.state) (not state))}}
{{#if (eq flash.alert.type "error")}}
<div role="alert" class="alert alert-error">
  <span>{{flash.alert.message}}</span>
</div>
{{else if (eq flash.alert.type "success")}}
<div role="alert" class="alert alert-success">
  <span>{{flash.alert.message}}</span>
</div>
{{/if}}
{{/if}}
{{/if}}