<!DOCTYPE html>
<html lang="id" data-theme="forest">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/styles.css">
  {{> meta}}
</head>

<body>
  <header>
    {{> navbar}}
  </header>

  <main class="mt-32 mb-10 max-w-7xl mx-auto flex items-start gap-10 relative">
    {{> sidebar}}
    {{> content}}
  </main>

  {{> script}}
</body>

</html>