<nav class="navbar bg-base-100 shadow-sm fixed top-0 left-0 right-0 z-10">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl">ECommerce</a>
  </div>
  <div class="navbar-center flex gap-2">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a class="btn btn-ghost">Kategori</a>
      </li>
    </ul>
    <input type="text" placeholder="Search" class="input input-bordered w-96" />
  </div>
  <div class="navbar-end gap-3">
    <a class="btn btn-primary" href="/auth/login">Login</a>
    <a class="btn btn-outline" href="/auth/register">Register</a>
  </div>
</nav>