<aside class="p-5 rounded-xl bg-base-200 max-w-xs space-y-5 w-full sticky top-32">
  {{#if (eq user.role 'admin')}}
  <div>
    <h4 class="text-white/60 text-sm">Pengelolaan</h4>
    <div class="mt-3">
      <a href="/dashboard/product" class="btn w-full btn-ghost justify-start">Barang</a>
      <a href="/dashboard/category" class="btn w-full btn-ghost justify-start">Kategori Barang</a>
      <a href="/dashboard/order" class="btn w-full btn-ghost justify-start">Pesanan</a>
    </div>
  </div>
  {{/if}}

  {{#unless (eq user.role 'admin')}}
  <div>
    <h4 class="text-white/60 text-sm">Pesanan</h4>
    <div class="mt-3">
      <a href="/dashboard/transaction" class="btn w-full btn-ghost justify-start">Transaksi</a>
      <a href="/dashboard/payment" class="btn w-full btn-ghost justify-start">Menunggu Pembayaran</a>
    </div>
  </div>
  {{/unless}}
  <div>
    <h4 class="text-white/60 text-sm">Pengaturan</h4>
    <div class="mt-3">
      {{#unless (eq user.role 'admin')}}
      <a href="/dashboard/profile" class="btn w-full btn-ghost justify-start">Profil</a>
      {{/unless}}
      <a href="/dashboard/account" class="btn w-full btn-ghost justify-start">Akun</a>
    </div>
  </div>
</aside>