{{#> "layouts/dashboard"}}

{{#*inline "meta"}}
<title>ECommerce</title>
{{/inline}}

{{#*inline "content"}}
<section class="w-full">
  <h1 class="text-3xl font-bold">Akun</h1>
</section>
{{/inline}}

{{#*inline "script"}}
{{/inline}}

{{/"layouts/dashboard"}}