{{#> "layouts/dashboard"}}

{{#*inline "meta"}}
<title>ECommerce</title>
{{/inline}}

{{#*inline "content"}}
<section class="w-full">
  <h1 class="text-3xl font-bold">Daftar Transaksi</h1>
  <div class="mt-10 space-y-3">
    {{log transactions}}
    {{#each transactions}}
    {{> "cards/transaction-card" transaction=this}}
    {{/each}}
  </div>
</section>
{{/inline}}

{{#*inline "script"}}
{{/inline}}

{{/"layouts/dashboard"}}